.cproject
.project
.pydevproject
.sconsign.dblite
.cspro
.bytes

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
publish/
Release/
_ReSharper.CSharp/
*.opensdf
*.sdf

/CSharp/CSharp.sln.ide
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Server/Hotfix/Custom/
/Log
/Temp
/Logs
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/netcoreapp2.0

.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/*.user
/ToolsApp/

/Excel/~$*.xlsx
/.vscode
SampleClass.cs
start_publish_binbeta.bat
Server/App/Server.App.csproj.user


/Bin2/
/Server/

Unity/Unity.Editor.csproj
Unity/Unity.Hotfix.csproj
Unity/Unity.HotfixView.csproj
Unity/Unity.Model.csproj
Unity/Unity.Mono.csproj
Unity/Unity.ThirdParty.csproj
Unity/Unity.sln
Unity/Unity.sln.DotSettings.user
Unity/Assembly-CSharp-Editor-firstpass.csproj
Unity/Unity.Hotfix.csproj
Unity/Unity.HotfixView.csproj
Unity/Unity.Model.csproj
Unity/Unity.ModelView.csproj
Unity/Assembly-CSharp-Editor.csproj
Unity/Assembly-CSharp-firstpass.csproj
Unity/BuglySdk.csproj
Unity/HybridCLR.Editor.csproj
Unity/HybridCLR.Runtime.csproj
Unity/NewAssembly.csproj
Unity/Substance.EditorHelper.csproj
Unity/Substance.Platform.csproj
Unity/Unity.2D.Sprite.Editor.csproj
Unity/Unity.BuglySdk.csproj
Unity/AndroidProject
Unity/Android
Unity/Assets/HybridCLR
Unity/UserSettings/Layouts
Unity/Assets/Plugins/iOS/MOBTool/
Unity/Assets/Plugins/iOS/ShareSDK/
Unity/Assets/Demo
Unity/Assets/Demo.meta
Unity/ios/
/Unity/Library
/Unity/Packages/
/Unity/ios/Libraries/
/Unity/ios/Data/
/Unity/ios/Data/Resources/
/Unity/Assets/Bundles/Independent/
/Unity/Assets/Bundles/Code/
/Unity/ProjectSettings/
/Unity/Assets/Res/XAsset/
/Unity/AndroidTarget
/Unity/Assets/Res/XAsset
/Unity/CSharp60Support/compilation log.txt
Unity/MeshBakerCore.csproj
Unity/MeshBakerEditor.csproj
Unity/MeshBakerExamples.csproj
Unity/AllIn1VfxAssmebly.csproj
Unity/AllIn1VfxDemoScriptAssemblies.csproj
Unity/AllIn1VfxTexDemoAssembly.csproj
Unity/AntiAddiction.Editor.csproj
Unity/TapTap.AntiAddiction.csproj
Unity/TapTap.Common.Editor.csproj
Unity/TapTap.Login.Editor.csproj
Unity/TapTap.TapDB.Editor.csproj
Unity/TapTap.UI.csproj
Unity/TapTap.UI.Editor.csproj
Unity/Assets/Res/Shader/Custom_Color_Test.shader
Unity/Assets/Res/Shader/Custom_Color_Test.shader.meta
Unity/Assets/GeneratedLocalRepo.meta
Unity/*.csproj
/Unity/Logs
/Unity/Assets/StreamingAssets/
/Unity/Assets/StreamingAssetsGoogle/
/Unity/CSharp60Support/compilation.log
/Unity/Assets/StreamingAssets.meta
/Unity/Assets/StreamingAssetsGoogle.meta
/Unity/HybridCLRData/
/Unity/Assets/Res/XAsset/Rules.asset
/Unity/Assembly-CSharp.csproj
/Unity/Packages/packages-lock.json
/Unity/.gradle
/Unity/UserSettings
Client-Server.sln
Client-Server.sln.DotSettings
